// Navigation code here
.nav-container {
  background-color: @border-real;
  display: flex;
  justify-content: space-between;
  justify-content: center;

  .logo {
    display: flex;
    justify-content: center;
    font-size: 4rem;
  }

  .inside-nav a {
    text-decoration: none;
    font-size: 2rem;
    flex-direction: row;
    color: @ebony-clay;
  }
  nav a {
    justify-content: space-around;
  }
}
