// Navigation code here
.nav-container {
  background-color: @border-real;
  display: flex;
  justify-content: center;

  .inside-nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    color: @ebony-clay;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
  }

  .logo {
    display: flex;
    font-size: 4rem;
    padding-left: 80px;
  }
}
